@media(orientation: landscape) and (max-width: 650px) {
  body, head {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #div_back {
    position: absolute;
    left: 60%;
    width: 40%;
    height: 100%;
    float: right;
    background-image: url("../Ui/resources/L001/img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #div_left {
    position: absolute;
    width: 40%;
    height: 100%;
    float: left; 
  }
  input {
    right: 22.3%;
    left: 22.3%;
    width: 31vw;
    height: 6vh;
    opacity: 1;
    font: normal normal 300 18px/28px KoPubWorldDotum_Pro;
    letter-spacing: 0px;
    color: #adadad;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D9D9D9;
  }
  input::placeholder {
  
    opacity: 1;
    font: normal normal 300 18px/28px KoPubWorldDotum_Pro;
    letter-spacing: 0px;
    color: #adadad;
  }
}


@media(orientation: landscape) and  (min-width:650px){
  body, head {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #div_back {
    position: absolute;
    left: 44%;
    width: 56%;
    height: 100%;
    float: right;
    background-image: url("../Ui/resources/L001/img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #div_left {
    position: absolute;
    width: 44%;
    height: 100%;
    float: left; 
  }
  input {

    right: 22.3%;
    left: 22.3%;
    width: 26vw;
    height: 6vh;
    opacity: 1;
    font: normal normal 300 18px/28px KoPubWorldDotum_Pro;
    letter-spacing: 0px;
    color: #adadad;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D9D9D9;
  }
  input::placeholder {

    opacity: 1;
    font: normal normal 300 18px/28px KoPubWorldDotum_Pro;
    letter-spacing: 0px;
    color: #adadad;
  }
}


@media (orientation: portrait){
  body, head {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #div_back {
    position: absolute;
    width: 100%;
    height: 30%;
    float: top;
    background-image: url("../Ui/resources/L001/img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #div_left {
    position: absolute;
    top:30%;
    width: 100%;
    height: 70%;
    float: bottom; 
  }

  input {
    right: 22.3%;
    left: 22.3%;
    width: 50vw;
    height: 6vh;
    opacity: 1;
    font: normal normal 300 18px/28px KoPubWorldDotum_Pro;
    font-size : 3vw;
    letter-spacing: 0px;
    color: #adadad;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
  }
  input::placeholder {
  
    opacity: 1;
    font: normal normal 300 18px/28px KoPubWorldDotum_Pro;
    font-size : 2vw;
    letter-spacing: 0px;
    color: #adadad;
  }
}


.id {
  position: absolute;
  top: 25%;
  left: 22.3%;

}

.title {
  text-align: left;
  font: normal normal medium 22px/34px KoPubWorldDotum_Pro;
  letter-spacing: 0px;
  font-size:30px;
  color: #838383;
  opacity: 1;
  font-size: 2vw;
  font-size: 2vh;
}

.logo {
  width: 3.93%;
  height: 2.62%;
  opacity: 1;
}


.login_txt {
  font: normal normal bold 48px/74px KoPubWorldDotum_Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 5vw;
  font-size: 5vh;
}


.or_txt {
  font: normal normal medium 18px/28px KoPubWorldDotum_Pro;
  letter-spacing: 0px;
  color: #000000;
  font-size: 2vw;
  font-size: 2vh;
}

.signUp {
  font: normal normal medium 18px/28px KoPubWorldDotum_Pro;
  letter-spacing: 0px;
  color: #1C62FF;
  text-decoration: none;
  font-size: 2vw;
  font-size: 2vh;
}


.idBox {
  top: 44.2%;
  opacity: 1;
}

.pwdBox {
  top: 51.4%;
  border-radius: 3px;
}



.login_btn {
  opacity: 1;
  background: url("../Ui/resources/L001/login_enable.png") no-repeat;
  background-size: 100% 100%;
  border: 0;
  outline: 0;
}

.login_btn:hover {
  background: url("../Ui/resources/L001/login_hover.png") no-repeat;
  background-size: 100% 100%;
}

.login_btn:active {
  background: url("../Ui/resources/L001/login_push.png") no-repeat;
  background-size: 100% 100%;
}


