body,
head {
  width: 100%;
  height: 100%;
  position: fixed;
  border: 0;
}

.div_title {
  position: fixed;
  width: 100%;
  height: 100%;
  border: 0;
}

.title_txt {
  position: fixed;
  top: 4%;
  left: 3.6%;
  width: 27.7%;
  height: 4.35%;
  text-align: left;
  font: normal normal bold 30px/47px KoPubWorldDotum_Pro;
  letter-spacing: 0px;
  color: #2e2e2e;
  opacity: 1;
}

.logo {
  position: fixed;
  top: 4.72%;
  left: 32.18%;
  width: 4.16%;
  height: 3.15%;
  opacity: 1;
}

.line {
  position: fixed;
  top: 11.85%;
  left: 0;
  width: 100%;
  height: 0.2%;
  background: #dee5ec 0% 0% no-repeat padding-box;
  opacity: 1;
}

.home {
  position: fixed;
  top: 5.09%;
  left: 89.9%;
  text-align: left;
  font: normal normal 300 18px/28px KoPubWorldDotum_Pro;
  letter-spacing: 0px;
  color: #838383;
  opacity: 1;
}

.dash {
    position: fixed;
    top: 5.09%;
    left: 91.95%;
    text-align: left;
    font: normal normal 300 18px/28px KoPubWorldDotum_Pro;
    letter-spacing: 0px;
    color: #838383;
    opacity: 1;
  }

  .logout {
    position: fixed;
    top: 5.09%;
    left: 93.23%;
    text-align: left;
    font: normal normal 300 18px/28px KoPubWorldDotum_Pro;
    letter-spacing: 0px;
    color: #838383;
    opacity: 1;
    text-decoration: none;
  }

  .tabmenu{
      position : fixed;
      top: 12.04%;
      right: 81.61%;

      height: 100%;
      margin:1px;
      background-color: rgb(0,100,100);
  }


