body,
head {
  width: 100%;
  height: 100%;
  position: fixed;
  border: 0;
}

@media (orientation : landscape){
  .div_title {
    vertical-align: middle;
    display : grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 5% 70% 25%;
    width: 58vw;
    height: 10vh;
    border: 0;
    justify-content: center;
    align-items: center;
  }

  .line {
    position: fixed;
    top: 11.85%;
    left: 0;
    width: 100%;
    height: 0.2%;
    background: #dee5ec 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .container{
    display : grid;
    position: absolute;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1.2fr 4fr;
    top: 32vh;
    left: 30vw;
    width: 32vw;
    height: 37vh;
    justify-content: center;
    align-items: center;
  }

  .double_check_btn {
    position: absolute;
    top: 32.2%;
    left: 62.7%;
    height: 7%;
    width: 7%;
    opacity: 1;
  
    background: url("../Ui/resources/R001/overlap_enable.png") no-repeat center center;
    background-size: 100% 100%;
    border: 0;
    outline: 0;
  }

  .cancel_btn {
    position: fixed;
    top: 70.09%;
    left: 50.36%;
    height: 5.93%;
    width: 12%;
    opacity: 1;
  
    background: url("../Ui/resources/R001/cancel_enable.png") no-repeat center center;
    background-size: 100% 100%;
    border: 0;
    outline: 0;
  }

  .signup_btn {
    position: fixed;
    top: 70.09%;
    left: 37.81%;
    height: 5.93%;
    width: 11.81%;
    opacity: 1;
    background: url("../Ui/resources/R001/signup_enable.png") no-repeat center center;
    background-size: 100% 100%;
    border: 0;
    outline: 0;
  }

  
.user_txt {
  position: absolute;
  top: 28%;
  left: 45%;
  width: 9vw;
  height: 3vh;
  text-align: center;
  font: normal normal bold 22px/34px KoPubWorldDotum_Pro;
  font-size: 1vmax;
  letter-spacing: 0px;
  color: #7c8893;
  opacity: 1;
}
  
}

@media (orientation : portrait){
  .div_title {
    vertical-align: middle;
    display : grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 5% 70% 25%;
    width: 70vw;
    height: 7vh;
    border: 0;
    justify-content: center;
    align-items: center;
  }
  
  .line {
    position: fixed;
    top: 8%;
    left: 0;
    width: 100%;
    height: 0.2%;
    background: #dee5ec 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .container{
    position: absolute;
    display : grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1.5fr 4fr;
    top: 32vh;
    left: 16vw;
    width: 54vw;
    height: 29vh;
    justify-content: center;
    align-items: center;
  }

  .double_check_btn {
    position: absolute;
    top: 32.1vh;
    right: 19.2vw;
    height: 5.5vh;
    width: 10vw;
    opacity: 1;
    background: url("../Ui/resources/R001/overlap_enable.png") no-repeat center center;
    background-size: 100% 100%;
    border: 0;
    outline: 0;
  }

  .cancel_btn {
    position: absolute;
    bottom: 33vh;
    left: 50.8vw;
    height: 6vh;
    width: 19.7vw;
    opacity: 1;
    background: url("../Ui/resources/R001/cancel_enable.png") no-repeat center center;
    background-size: 100% 100%;
    border: 0;
    outline: 0;
  }

  .signup_btn {
    position: absolute;
    bottom: 33vh;
    left: 30.7vw;
    height: 6vh;
    width: 19.7vw;
    opacity: 1;
    background: url("../Ui/resources/R001/signup_enable.png") no-repeat center center;
    background-size: 100% 100%;
    border: 0;
    outline: 0;
  }

  
.user_txt {
  position: absolute;
  top: 28vh;
  left: 44vw;
  width: 15vw;
  height: 3vh;
  text-align: left;
  font: normal normal bold 22px/34px KoPubWorldDotum_Pro;
  font-size: 1.5vmax;
  letter-spacing: 0px;
  color: #7c8893;
  opacity: 1;
}
}


.title_txt {
  grid-row: 2;
  grid-column: 2;
  font: normal normal bold 30px/47px KoPubWorldDotum_Pro;
  letter-spacing: 0px;
  color: #2e2e2e;
  opacity: 1;
  font-size: 2.2vmax;
}

.logo {
  grid-row: 2;
  grid-column: 3;
  opacity: 1;
  width:4vw;
  height:2vw;
}



a {
  text-align: center;
  font: normal normal 300 18px/28px KoPubWorldDotum_Pro;
  font-size : 2vmin;
  letter-spacing: 0px;
  color: #adadad;
  opacity: 1;
}

input,
select {
  display: flex;
  align-items: center;
  justify-content : center;
  background: #ffffff 0% 0% no-repeat padding-box;
  background-size: cover !important;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  opacity: 1;
  text-align: left;
  font: normal normal 300 22px/34px KoPubWorldDotum_Pro;
  letter-spacing: 0px;
  color: #838383;
  opacity: 1;
  width : 100%;
  height : 90%;
}

.sex_box{
  grid-column: 2;
  grid-row: 5;
}


.double_check_btn:hover {
  background: url("../Ui/resources/R001/overlap_hover.png") no-repeat center center;
  background-size: 100% 100%;
}

.double_check_btn:active {
  background: url("../Ui/resources/R001/overlap_push.png") no-repeat center center;
  background-size: 100% 100%;
}


.cancel_btn:hover {
  background: url("../Ui/resources/R001/cancel_hover.png") no-repeat center center;
  background-size: 100% 100%;
}

.cancel_btn:active {
  background: url("../Ui/resources/R001/cancel_push.png") no-repeat center center;
  background-size: 100% 100%;
}


.signup_btn:hover {
  background: url("../Ui/resources/R001/signup_hover.png") no-repeat center center ;
  background-size: 100% 100%;
}

.signup_btn:active {
  background: url("../Ui/resources/R001/signup_push.png") no-repeat center center ;
  background-size: 100% 100%;
}
